{% extends 'base.html.twig' %}

{% block body %}

    <h1>Unauthorised</h1>


{% endblock %}

{% block stylesheets %}
    <style>
        footer { position: absolute; bottom: 0; text-align: center; left: 50%; transform: translateX(50%); }
        body { background: #F5F5F5; font: 12px/1.5 sans-serif; }
        h1, h2 { line-height: 1.5; margin: 0 0.2em; font-weight: normal }
        h1 { font-size: 36px; }
        h2 { font-size: 21px; }
        p { margin: 0 0 1em 0; }
        a { color: #0000F0; }
        a:hover { text-decoration: none; }
        code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
        #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
        #container { padding: 2em; }
        .card {
            /*display: inline-block;*/
            float: left;
            margin: 1em;
            background: white;
            width: 300px;
            height: 150px;
            border: 1px solid lightgrey;
        }
        .card .body {
            border-top: 1px solid lightgrey;
            padding: 0.5em
        }
        .card .stories {
            margin: 1em 0 0 2em;
            padding: 0;
        }
        /* look, no images ;-) */
        .card .stories li.sentiment-positive:before {
            content: ':-)';
        }
        .card .stories li.sentiment-neutral:before {
            content: ':-|';
        }
        .card .stories li.sentiment-negative:before {
            content: ':-(';
        }
        .card .stories li:before {
            position: absolute;
            right: 2px;
            top: 50%;
            font-weight: bold;
            transform: translateY(-50%) rotate(90deg);
            border: 1px solid black;
            padding: 3px;
            border-radius: 50%;
        }
        .card .stories li {
            position: relative;
            margin: 0;
            padding: 0 30px 0 0;
        }
        .card .stories li p {
            margin: -15px 0 0;
            padding: 0;
            height:36px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
        .card .body {

        }
    </style>
{% endblock %}

